/* tela de login netflix */
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body::before{ /*before, antes de tudo do site*/
    content: '';
    background-color: rgb(0,0,0, .5); /*efeito cinza transparente no fundo*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img{
    height: 45px;
    width: 167px;
}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.loginbody{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0, 0.75); /*efeito cinza transparente no fundo*/
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%); /*colocar login no meio da tela*/
}

.loginbody h2{
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.loginbody input{
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.loginbody input:hover{ /*animação quando passa o mouse*/
    background-color:#444;
}

.inputbox{
    margin-bottom: 25px;
}

.loginbody button{
    height: 50px;
    width: 100%;
    color: #fff;
    background-color:#e50914;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}
.loginbody button:hover{
    background-color:#e50914;
    cursor: pointer; /*muda o cursor do mouse ao colocar o ponteiro encima do botão*/
}
.suporte{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.suporte input{
    width: 15px;
    height: 15px;
}

.lembre{
    display: flex;
    align-items: center;
}

.ajuda a{
    text-decoration: none;
    color: #737373;
}

.ajuda a:hover{
    text-decoration: underline;
}

.loginfacebook{
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}
.loginfacebook span{
    margin-right: 5px;
    font-size: 13px;
}
.loginfacebook span a{
    text-decoration: none;
    color: #737373;
}
.assine{
    color: #737373;
    font-size: 16px;
}
.assine a{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
}
.assine a:hover{
    text-decoration: underline;
}
.termos{
    color: #737373;
    font-size: 13px;
}
.termos a{
    text-decoration: none;
    color: #0071eb;
}
.termos a:hover {
    text-decoration: underline;
}
